body {
    text-align: center;
}

ol {
    list-style: upper-alpha inside;
}

#startBtn #nextBtn1 #nextBtn2 #nextBtn3 #nextBtn4 #nextBtn5{
    display: inline;
    background-color: navy;
    color: beige;
    border-radius: 30px;
}

.hidden {
    display: none;
}

